@font-face {
  font-family: "iconfont"; /* Project id 4179511 */
  src: url('iconfont.woff2?t=1699852065631') format('woff2'),
       url('iconfont.woff?t=1699852065631') format('woff'),
       url('iconfont.ttf?t=1699852065631') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanse:before {
  content: "\e669";
}

.icon-hash:before {
  content: "\e60d";
}

.icon-xingzhuangjiehe:before {
  content: "\e63a";
}

.icon-gongju:before {
  content: "\e607";
}

.icon-xiezi:before {
  content: "\e60e";
}

.icon-shebeiguanli:before {
  content: "\ebb7";
}

.icon-app_icons--:before {
  content: "\e620";
}

.icon-rili:before {
  content: "\e8b4";
}

.icon-wenzhang1:before {
  content: "\e6a9";
}

.icon-zhuye:before {
  content: "\e663";
}

.icon-daohang:before {
  content: "\e797";
}

